.content {
  width: 1280px;
  margin: 40px auto 200px auto;
}

.form_container {
  margin: 75px auto auto auto;
  width: 500px;
  padding: 25px 35px 25px 35px;
  border: 1px solid #eee;
  border-top: 3px solid #2a77fc;
  border-bottom: 3px solid #2a77fc;
  border-radius: 3px;
  background-color: #fff;
}

input {
  display: block;
  border: 1px solid #eee;
  padding: 0.5em;
  font-size: 1em;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  border: 1px solid #eee;
  padding: 0.5em;
  margin: 10px auto auto auto;
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

input[type=submit] {
  width: 110px;
  height: 38px;
  background-color: #2a77fc;
  border: 0;
  color: white;
  margin: 25px 0 0 auto;
}


input[type=submit]:hover {
  background: #79a9fc;
}

.new_post_header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0;
}

@media screen and (max-width: 1280px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .form_container {
    width: 85%;
  }
}
