/* Page/general */
.content {
  max-width: 1280px;
  margin: 80px auto auto auto;
}

.git_info {
  height: 5em;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d0;
}

.git_links {
  text-decoration: none;
  color: blue;
}

.git_info p, .git_info p a  {
  max-width: 75%;
  text-align: center;
}

@media (pointer:none), (pointer:coarse) {
  .git_info {
    font-size: 1.5em;
  }
}

/* Controls */
.controls {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.controls_button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.75em 1em;
  border-left: 1px solid #2b2b2b;
}

.controls_button:nth-child(1) {
  border-left: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b;
}

.controls_button:nth-child(2) {
  border-right: 1px solid #2b2b2b;
}

.controls_button:hover {
  background: #004080;
}

.content {
  max-width: 1280px;
  margin: 80px auto auto auto;
}

.post_container {
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

/* Post */
.post {
  border-top: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 45px;
}

.post:first-of-type {
  border-top: 0 !important;
}

.post_content {
  text-align: justify;
  width: 85%;
}

.post_footer {
  padding-top: 25px;
}

.post_title {
  padding-top: 0;
  margin-top: 0;
}

.post_date {
  font-weight: 200;
  padding-bottom: 1em;
  font-size: 0.8em;
}

.no_post_info {
  height: 5em;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls_active {
  border-radius: 0 0 3px 3px !important;
}

.controls_inactive {
  margin-top: 50px;
}

@media (max-width:768px), (hover:none) {
  .content {
    transition: 0.5s;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .git_info {
    
  }
}