.content {
  max-width: 1280px;
  margin: 80px auto auto auto;
}

.git_info {
  height: 5em;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git_links {
  text-decoration: none;
  color: blue;
}

.git_info p, .git_info p a  {
  max-width: 75%;
  text-align: center;
}

@media (pointer:none), (pointer:coarse) {
  .git_info {
    font-size: 1.5em;
  }
}
